*{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    width: 100%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}
.nav-list{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.list-item a{
    color: ghostwhite;
    margin: 5px;
    text-decoration: none;
}
.list-item a:hover{
    color:lightgray;
    margin: 5px;
    text-decoration: none;
}
.list-item{
    margin: 30px;
}
.right-item{
    margin-left: 65px;
}
.btn, input{
    border-radius: 10px;
}

